html {
    margin: 0;
    padding: 0;
    font-family: ;
    font-size: 14px;

}


.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-top: 20px;

}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-nav li a {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 700;

}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #D59430;
    background: transparent;

}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #D59430;
    background-color: transparent;
}

.logo img {
    width: 80px;
}

.slider {
    background: url(../images/bg.jpg) no-repeat;
    margin-top: -92px;
    height: 100vh;

}

.overley {
    height: 100%;
    background: rgba(0, 0, 0, .6);
    ;
}

.caption {
    color: #fff;
    text-align: center;
    margin-top: 260px;
}

.tag-line {
    margin-bottom: 36px;
}

.caption h1 {
    float: left;
    margin-left: 283px;
    font-family: Raleway semibold;
    font-size: 60px;
    text-transform: uppercase;
}

.caption img {
    margin-right: 360px;
}

.caption p {
    text-align: center;
    font-family: Roboto-Regular;
    font-size: 18px;
    width: 950px;
    margin: 0px auto;
}

/*===================================Admin & modaretor section ==================*/

.admin {
    margin-top: 64px;

}

.admin img {
    width: 244px;
    height: 290px;
}

.admin h1 {
    text-transform: uppercase;
    color: #FA9D1C;
    font-weight: 700;
}

.admin .and {
    color: black;
}

.underline {
    text-decoration-line: underline;
    text-underline-position: under;
    color: #FA9D1C;
}

.modaretor {
    margin-top: 80px;
}

.modaretor img {
    float: left;
    padding: 5px;
    border-radius: 16px;
}

.admin-cap {
    margin-top: 3px;
    text-align: center;
}

.admin-cap h3 {
    text-transform: uppercase;
    font-weight: 700;
}

.admin-cap h5 {
    text-transform: uppercase;
}

/*==================funny photos==============================*/
.fun-pic {
    margin-top: 64px;
    margin-bottom: 64px;
    text-transform: uppercase;
}

.fun-pic h1 {
    font-weight: 700;
    padding-bottom: 80px;
}

.fun-pic img {
    margin: 6px;
    width: 278px;
    height: 300px;
}

/*=================funny stories==================*/

.fun-story h1 {
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 80px;
}

.fun-story .row {
    margin-bottom: 74px;
}

.badge-date {
    background: #3549b5;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    width: 66px;
    height: 64px;
    text-align: center;
    margin: 10px 0px 0px 10px;
    padding: 8px;
    text-transform: capitalize;
}

.story-caption {
    margin-top: 10px;
    color: #3549b5;
    font-size: 16px;
    font-weight: 700;
}

.author-link {
    float: right;
    margin-right: 15px;
}

.author-link ul {
    float: right;
    padding-right: 39px;
    padding-left: 11px;
}

.author-link ul li {
    list-style: none;
    display: inline;
}

.author-link2 {
    margin-right: -15px;
}

.author-link2 ul {
    float: right;
    margin-right: -45px;
    padding-left: 11px;
}

.story2 {
    padding-left: 92px;
}

.story2 .author-link4 {
    float: right;
    margin-right: -60px;
}

.details h3 {
    font-weight: 600;
    font-size: 19px;
    display: inline-block;
    line-height: 28px;
    word-spacing: -2px;
}

.details button {
    padding: 8px 19px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}



.footer {
    background: #f2f2f2;
}

.footer .row {
    margin-top: 44px;
}

.web-info p {
    font-size: 21px;
    line-height: 30px;
    margin-top: 38px;
    text-transform: uppercase;
}

.company-info {
    padding-left: 80px;
}

.company-info h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 19px;
    text-decoration: underline;
    text-underline-position: under;
}

.company-info ul {
    text-decoration: none;
}

.company-info ul li {
    display: inline-table;
    width: 90px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: -35px;
    line-height: 46px;
}

a {
    color: #0e0e0e;
}

a:hover {
    text-decoration: none;
}

.site-link {
    padding-left: 80px;
}

.site-link h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 19px;
    text-decoration: underline;
    text-underline-position: under;
}

.site-link ul {
    text-decoration: none;
}

.site-link ul li {
    display: inline-table;
    width: 90px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: -35px;
    line-height: 46px;
}

.addres {
    padding-left: 106px;
}

.addres h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 19px;
    text-decoration: underline;
    text-underline-position: under;
}

.addres h2 {
    margin-top: 50px;
    line-height: 31px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.credit {
    color: black;
    text-align: center;
    text-transform: capitalize;
    font-family: sans-serif;
    font-style: italic;
    margin: 34px 0px;
}